
* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(140deg, rgb(216, 161, 248), rgb(160, 247, 243));
    min-height: 100vh;
}

h1 {
    text-align: center;
}

input {
    padding: 2%;
    border-radius: 5px;
    outline: none;
}

#main {
    background-color: #fff;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid #333;
    box-shadow: 10px 8px 0px #333, 10px -11px 0px #333;
    display: inline-block;
    position: relative;
    margin-top: 2%;
    left: 37%;
    font-family: "Trebuchet MS", Tahoma, sans-serif; 
    width: 20%
}

#CEP {
    margin: 10% 35%;
    font-weight: 600;
    font-size: 100%;
    width: 22%;
    padding: 2% 6%;
}

.result {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.results {
    width: 100%;
    margin-bottom: 5%;
}

#cidade {
    width: 60%;
}

#uf {
    width: 6%;
}

#map {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: -37px 12px 0px #333, 37px 12px 0px #333;
    height: 300px;
    width: 70%;
    margin: 2% 15%;
  }
